.aside {
  position: fixed;
  width: 45px;
  transition: width 0.5s ease-in;
  header {
    margin-top: 1.5rem;
  }
  border-right: 1px solid $light-gray-border;
  height: calc(100vh - 72px);
  .aside--notebook {
    position: relative;
    color: $brand-medium-green;
    background-color: #f5f5f5;
    border: 1px solid $brand-medium-green;
    border-radius: 5px;
    margin: 1rem 0;
    opacity: 0;
    width: 90%;
    transition: opacity 0.2s ease;
    h3 {
      margin: 1rem 0;
    }
    span {
      position: absolute;
      bottom: 2px;
      right: 5px;
      font-size: 1.2307rem;
    }
    &:hover {
      background-color: $brand-medium-green;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
  .fa-1-5 {
    font-size: 1.5rem;
    margin: 10px;
    .fa {
      color: $brand-medium-green;
    }
  }
}

.aside__active {
  width: 230px;
  .aside--notebook {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .fa-1-5 {
    margin: 0;
  }
}

.nav-toggle-pos {
  position: relative;
  top: 0;
  left: 0;
  width: 35px;
  height: 25px;
  margin: 25px 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $brand-medium-green;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }
}

.toggle-nav_open {
  span {
    &:nth-child(1) {
      top: 18px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 18px;
      transform: rotate(-135deg);
    }
  }
}