.main-header{
    background-color: $brand-green;
    
    .navbar-default{
        background-color: transparent;
        border-color: transparent;

        .navbar-brand{
            color: #FFF;
             & > img{
                width: 13%;
                display: inline;
                position: relative;
                bottom: 0.5rem;
            }
            h2{
                display: inline;
            }
        }
    }
}
